article {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  color: var(--primary-text-color);

  .card {
    min-height: 50vh;
    padding-inline: 2rem;
    padding-block: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .image-container {
      box-sizing: border-box;
      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }

    h2 {
      margin-block-end: 0.2rem;
    }

    p {
      font-size: smaller;
      margin-block: 0;
      text-align: center;
    }

    button {
      margin-block-start: 1rem;
      color: var(--primary-text-color);
      border: 2px solid var(--primary-text-color);
      padding-inline: 2rem;
      padding-block: 0.5rem;
      background-color: transparent;
      border-radius: 25px;
      padding: 0.5rem 3rem;
      cursor: pointer;
      font-weight: bold;
    }
  }
}
